# Compiled class file
*.class

# Log file
*.log

# Configuration file
*.config

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Idea configuartion directory
/.idea

# Build output
/target

# MacOS related files
.DS_Store
